.EditBubble{
  position: absolute;
  z-index: 120;
  background-color: #002B5B;
  color: white;
  width: 30vmin;
	height: auto;
  border-radius: 5%;
  font-size: small;
}
form{
  box-sizing: border-box;
  margin-inline: 5px;
  margin-top: 2px;
}
