.risingForm {
  background-color: #E4DCCF;
  padding: 1rem;
  outline: solid 1px;
  outline-color: white;
  border-radius: 2rem;
  position: absolute;
  bottom: 3vh;
  left: 40vw;
  transform: translateX(-50%);
  animation: slide-up 0.5s ease-out forwards;
  z-index: 100
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate(0, 30%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}